{% extends 'base.html' %}

{%block title%}All rooms{%endblock%}

{%block content%}
<p>{{now}}</p>
count {{paginator.count}}
{%if empty%}
page not exist
{%endif%}
{%for room in rooms%}
<h1>{{room.name}} / ${{room.price}}</h1>
{%endfor%}
<p>Page {{page_obj.number}} of {{paginator.num_pages}}</p>

<h5>
{% if page_obj.has_previous %}<a href="?page={{page_obj.previous_page_number}}">Prev</a>{% endif %}
{%if page_obj.has_next%}<a href="?page={{page_obj.next_page_number}}">Next</a>{%endif%}
</h5>
{%endblock%}